.banner {
  background-size: "cover";
  background-position: center center;
  color: white;
  object-fit: contain;
  height: 560px;
  position: relative;
  align-items: flex-end;
  background: #000;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  object-fit: contain;
}

.banner__contents {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  padding: 0 4vw;
  padding-bottom: unset;
  padding: 0 4vw 10vh;
  z-index: 1;
}

.banner__title {
  padding-top: 140px;
  font-size: 60px;
  line-height: 1;
  font-weight: bold;
  text-shadow: 2px 2px 4px rgba(#000, 0.45);
}

.banner__buttons {
  display: flex;
  align-items: center;
  margin-top: 1vw;
}
.banner__button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  min-width: 150px;
  background-color: rgba(109, 109, 110, 0.7);
  color: #f2f2f2;
  padding: 12px 20px;
  margin-left: 10px;
  border-radius: 6px;
  border: 0;
  margin-top: 1em;
  /* font-family: $main-font; */
  font-size: 15px;
  font-weight: 500;
  cursor: pointer;
  text-decoration: none;
  transition: all 0.2s ease-out;
}

.banner__button:first-child {
  background-color: #e50914;
  color: #f2f2f2;
}
.banner__button:first-child:hover {
  background-color: #ff000d;
}

.banner__button:hover {
  background-color: rgb(109, 109, 110);
}

.banner__description {
  line-height: 1.6;
  padding-top: 16px;
  font-size: 20px;
  text-align: justify;
  max-width: 30vw;
  height: 80px;
  margin-left: 10px;
  text-shadow: 2px 2px 4px rgb(20 20 20 / 45%);
}

.banner__bottom {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 7.5rem;
  background: linear-gradient(180deg, transparent, rgba(14, 14, 14, 0.6), #000);
}
